<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitemap>
      <site name="website" embedLanguage="false" useDisplayName="false" IndexName="sitecore_web_index" FieldName="Display in Sitemap">
        <Templates hint="list">
          <template></template>
          <template></template>
        </Templates>
      </site>
      <wildcards hint="list">
        <wildcard templateId="" rootItemId="" urlParentItem="" />
      </wildcards>
    </sitemap>
    <pipelines>
      <createSitemapXml>
        <processor type="Sitemap.Xml.Pipelines.DefaultSitemapXmlProcessor, Sitemap.Xml">
          <param desc=""></param>
        </processor>
      </createSitemapXml>
    </pipelines>
  </sitecore>
</configuration>