<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler patch:before="*[@type='Sitecore.Links.ItemEventHandler, Sitecore.Kernel']" type="Sitemap.Xml.Handlers.SaveHandler, Sitemap.Xml" method="OnItemSaved"></handler>
      </event>
    </events>
    <sitemap>
      <site name="website" embedLanguage="false" useDisplayName="false" IndexName="sitecore_web_index" DisplayInSitemapFieldName="Display in Sitemap" SitemapUrlFieldName="Sitemap Url" HostName="test82up2" UseHttps="true" >
        <Templates hint="list">
          <template></template>
          <template></template>
        </Templates>
      </site>
      <wildcards hint="list">
        <wildcard templateId="" rootItemId="" urlParentItem="" />
      </wildcards>
    </sitemap>
    <pipelines>
      <createSitemapXml>
        <processor type="Sitemap.Xml.Pipelines.DefaultSitemapXmlProcessor, Sitemap.Xml">
          <param desc=""></param>
        </processor>
      </createSitemapXml>
    </pipelines>
  </sitecore>
</configuration>